// Style buttons
.btn {
  cursor: pointer;
  font-weight: 700;
  width: 19.3rem;
  height: 5.8rem;
  font-size: 1.6rem;
  border-radius: 5rem;
  border: none;
  color: var(--color-white);
  &.btn_header {
    background-color: var(--color-teal);
    &:hover {
      background-color: var(--color-lightskeyblue);
    }
  }
  &.btn_footer {
    background-color: var(--color-slateblue);
    &:hover {
      background-color: var(--color-blueviolet);
    }
  }
  &__text {
    opacity: 0.7;
    padding-left: 0.4rem;
  }
}
.btn-new {
  cursor: pointer;
  font-weight: 700;
  width: 13.9rem;
  height: 5.8rem;
  font-size: 1.6rem;
  background-color: var(--color-slateblue);
  border-radius: 3rem;
  padding: 0.16rem 0.29rem;
  color: var(--color-white);
  border: none;
  &:hover {
    background-color: #b18bdd;
  }
}

// style numbers 01 and 02
.number {
  position: relative;
  font-size: 16px;
  display: block;
  color: var(--color-gray);
  font-weight: 800;
  padding-top: 16px;
  width: 56px;
  height: 56px;
  border: 1px solid var(--color-gray);
  border-radius: 50% 50%;
  // position: absolute;
  margin-bottom: 6.4rem;
  background-color: white;
  &::after {
    position: absolute;
    content: "";
    border-top: 20px;
    width: 1px;
    height: 84px;
    background-color: var(--color-gray);
    transform: translate(-900%, -120%);
  }
}
